In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [2]:
#Importing weather data (Files have to be in same folder as the code file)
Path_2015 = os.getcwd() + '/New York City-March - May 2015.csv'
Path_2016 = os.getcwd() + '/New York City-March - May 2016.csv'
Path_2017 = os.getcwd() + '/New York City-March - May 2017.csv'
Path_2018 = os.getcwd() + '/New York City-March - May 2018.csv'

#Convert csv files to dataframe
Weather_2015 = pd.read_csv(Path_2015)
Weather_2016 = pd.read_csv(Path_2016)
Weather_2017 = pd.read_csv(Path_2017)
Weather_2018 = pd.read_csv(Path_2018)

#Combine dataframes
Weather = pd.concat([Weather_2015, Weather_2016, Weather_2017, Weather_2018],ignore_index=True)
Weather.shape
Weather

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,New York City,2015-03-01,-1.2,-4.5,-2.9,-2.2,-7.6,-3.9,-11.4,56.4,...,4.2,2,NaN,2015-03-01T06:30:19,2015-03-01T17:47:04,0.42,"Snow, Partially cloudy",Partly cloudy throughout the day with snow.,snow,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
1,New York City,2015-03-02,3.4,-2.1,0.5,-0.5,-7.6,-3.4,-8.0,56.3,...,14.2,7,NaN,2015-03-02T06:28:47,2015-03-02T17:48:12,0.45,Partially cloudy,Clearing in the afternoon.,snow,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
2,New York City,2015-03-03,2.0,-5.0,-1.8,-1.5,-8.3,-5.2,-8.8,60.6,...,6.9,3,NaN,2015-03-03T06:27:14,2015-03-03T17:49:20,0.48,"Snow, Rain, Partially cloudy",Becoming cloudy in the afternoon with rain or ...,snow,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
3,New York City,2015-03-04,7.2,2.0,4.5,5.8,-2.7,1.8,1.7,82.6,...,6.0,2,NaN,2015-03-04T06:25:41,2015-03-04T17:50:28,0.49,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,snow,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
4,New York City,2015-03-05,4.6,-6.4,-2.6,1.7,-12.9,-7.1,-5.4,82.0,...,7.0,3,NaN,2015-03-05T06:24:07,2015-03-05T17:51:35,0.50,"Snow, Rain, Overcast",Cloudy skies throughout the day with a chance ...,snow,"72505394728,KEWR,KLGA,72502014734,KNYC,7250301..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
363,New York City,2018-05-27,26.7,13.9,18.2,26.7,13.9,18.2,14.9,81.9,...,4.3,3,NaN,2018-05-27T05:29:42,2018-05-27T20:17:09,0.48,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7..."
364,New York City,2018-05-28,20.6,13.4,16.1,20.6,13.4,16.1,12.0,77.4,...,13.2,6,NaN,2018-05-28T05:29:07,2018-05-28T20:17:58,0.49,Overcast,Cloudy skies throughout the day.,cloudy,"72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7..."
365,New York City,2018-05-29,30.8,17.0,23.7,30.9,17.0,23.9,17.3,69.7,...,25.6,9,NaN,2018-05-29T05:28:34,2018-05-29T20:18:45,0.50,Partially cloudy,Clearing in the afternoon.,partly-cloudy-day,"72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7..."
366,New York City,2018-05-30,23.8,16.1,19.9,23.8,16.1,19.9,16.3,80.3,...,19.8,9,NaN,2018-05-30T05:28:04,2018-05-30T20:19:32,0.51,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7..."
367,New York City,2018-05-31,20.0,17.2,18.5,20.0,17.2,18.5,16.5,88.3,...,4.6,2,NaN,2018-05-31T05:27:35,2018-05-31T20:20:17,0.52,"Rain, Overcast",Cloudy skies throughout the day with rain in t...,rain,"72505394728,KEWR,KLGA,72502014734,KNYC,F1417,7..."

In [3]:
#Importing taxi data (Files have to be in same folder as the code file)
Path_March_2015 = os.getcwd() + '/yellow_tripdata_2015-03.parquet'
Path_April_2015 = os.getcwd() + '/yellow_tripdata_2015-04.parquet'
Path_May_2015 = os.getcwd() + '/yellow_tripdata_2015-05.parquet'
Path_March_2016 = os.getcwd() + '/yellow_tripdata_2016-03.parquet'
Path_April_2016 = os.getcwd() + '/yellow_tripdata_2016-04.parquet'
Path_May_2016 = os.getcwd() + '/yellow_tripdata_2016-05.parquet'
Path_March_2017 = os.getcwd() + '/yellow_tripdata_2017-03.parquet'
Path_April_2017 = os.getcwd() + '/yellow_tripdata_2017-04.parquet'
Path_May_2017 = os.getcwd() + '/yellow_tripdata_2017-05.parquet'
Path_March_2018 = os.getcwd() + '/yellow_tripdata_2018-03.parquet'
Path_April_2018 = os.getcwd() + '/yellow_tripdata_2018-04.parquet'
Path_May_2018 = os.getcwd() + '/yellow_tripdata_2018-05.parquet'

#Convert csv files to dataframe
#Split the datetime column into separate date and time columns
#Remove all pickup dates outtside of the month of interest (there is a lot of incorrect data)
Taxi_March_2015 = pd.read_parquet(Path_March_2015)
Taxi_March_2015['Date'] = pd.to_datetime(Taxi_March_2015['tpep_pickup_datetime']).dt.date
Taxi_March_2015['Time'] = pd.to_datetime(Taxi_March_2015['tpep_pickup_datetime']).dt.time
Taxi_March_2015 = Taxi_March_2015[pd.to_datetime(Taxi_March_2015['Date']).dt.month == 3]
Taxi_March_2015 = Taxi_March_2015[pd.to_datetime(Taxi_March_2015['Date']).dt.year == 2015]

Taxi_April_2015 = pd.read_parquet(Path_April_2015)
Taxi_April_2015['Date'] = pd.to_datetime(Taxi_April_2015['tpep_pickup_datetime']).dt.date
Taxi_April_2015['Time'] = pd.to_datetime(Taxi_April_2015['tpep_pickup_datetime']).dt.time
Taxi_April_2015 = Taxi_April_2015[pd.to_datetime(Taxi_April_2015['Date']).dt.month == 4]
Taxi_April_2015 = Taxi_April_2015[pd.to_datetime(Taxi_April_2015['Date']).dt.year == 2015]

Taxi_May_2015 = pd.read_parquet(Path_May_2015)
Taxi_May_2015['Date'] = pd.to_datetime(Taxi_May_2015['tpep_pickup_datetime']).dt.date
Taxi_May_2015['Time'] = pd.to_datetime(Taxi_May_2015['tpep_pickup_datetime']).dt.time
Taxi_May_2015 = Taxi_May_2015[pd.to_datetime(Taxi_May_2015['Date']).dt.month == 5]
Taxi_May_2015 = Taxi_May_2015[pd.to_datetime(Taxi_May_2015['Date']).dt.year == 2015]

Taxi_March_2016 = pd.read_parquet(Path_March_2016)
Taxi_March_2016['Date'] = pd.to_datetime(Taxi_March_2016['tpep_pickup_datetime']).dt.date
Taxi_March_2016['Time'] = pd.to_datetime(Taxi_March_2016['tpep_pickup_datetime']).dt.time
Taxi_March_2016 = Taxi_March_2016[pd.to_datetime(Taxi_March_2016['Date']).dt.month == 3]
Taxi_March_2016 = Taxi_March_2016[pd.to_datetime(Taxi_March_2016['Date']).dt.year == 2016]

Taxi_April_2016 = pd.read_parquet(Path_April_2016)
Taxi_April_2016['Date'] = pd.to_datetime(Taxi_April_2016['tpep_pickup_datetime']).dt.date
Taxi_April_2016['Time'] = pd.to_datetime(Taxi_April_2016['tpep_pickup_datetime']).dt.time
Taxi_April_2016 = Taxi_April_2016[pd.to_datetime(Taxi_April_2016['Date']).dt.month == 4]
Taxi_April_2016 = Taxi_April_2016[pd.to_datetime(Taxi_April_2016['Date']).dt.year == 2016]

Taxi_May_2016 = pd.read_parquet(Path_May_2016)
Taxi_May_2016['Date'] = pd.to_datetime(Taxi_May_2016['tpep_pickup_datetime']).dt.date
Taxi_May_2016['Time'] = pd.to_datetime(Taxi_May_2016['tpep_pickup_datetime']).dt.time
Taxi_May_2016 = Taxi_May_2016[pd.to_datetime(Taxi_May_2016['Date']).dt.month == 5]
Taxi_May_2016 = Taxi_May_2016[pd.to_datetime(Taxi_May_2016['Date']).dt.year == 2016]

Taxi_March_2017 = pd.read_parquet(Path_March_2017)
Taxi_March_2017['Date'] = pd.to_datetime(Taxi_March_2017['tpep_pickup_datetime']).dt.date
Taxi_March_2017['Time'] = pd.to_datetime(Taxi_March_2017['tpep_pickup_datetime']).dt.time
Taxi_March_2017 = Taxi_March_2017[pd.to_datetime(Taxi_March_2017['Date']).dt.month == 3]
Taxi_March_2017 = Taxi_March_2017[pd.to_datetime(Taxi_March_2017['Date']).dt.year == 2017]

Taxi_April_2017 = pd.read_parquet(Path_April_2017)
Taxi_April_2017['Date'] = pd.to_datetime(Taxi_April_2017['tpep_pickup_datetime']).dt.date
Taxi_April_2017['Time'] = pd.to_datetime(Taxi_April_2017['tpep_pickup_datetime']).dt.time
Taxi_April_2017 = Taxi_April_2017[pd.to_datetime(Taxi_April_2017['Date']).dt.month == 4]
Taxi_April_2017 = Taxi_April_2017[pd.to_datetime(Taxi_April_2017['Date']).dt.year == 2017]

Taxi_May_2017 = pd.read_parquet(Path_May_2017)
Taxi_May_2017['Date'] = pd.to_datetime(Taxi_May_2017['tpep_pickup_datetime']).dt.date
Taxi_May_2017['Time'] = pd.to_datetime(Taxi_May_2017['tpep_pickup_datetime']).dt.time
Taxi_May_2017 = Taxi_May_2017[pd.to_datetime(Taxi_May_2017['Date']).dt.month == 5]
Taxi_May_2017 = Taxi_May_2017[pd.to_datetime(Taxi_May_2017['Date']).dt.year == 2017]

Taxi_March_2018 = pd.read_parquet(Path_March_2018)
Taxi_March_2018['Date'] = pd.to_datetime(Taxi_March_2018['tpep_pickup_datetime']).dt.date
Taxi_March_2018['Time'] = pd.to_datetime(Taxi_March_2018['tpep_pickup_datetime']).dt.time
Taxi_March_2018 = Taxi_March_2018[pd.to_datetime(Taxi_March_2018['Date']).dt.month == 3]
Taxi_March_2018 = Taxi_March_2018[pd.to_datetime(Taxi_March_2018['Date']).dt.year == 2018]

Taxi_April_2018 = pd.read_parquet(Path_April_2018)
Taxi_April_2018['Date'] = pd.to_datetime(Taxi_April_2018['tpep_pickup_datetime']).dt.date
Taxi_April_2018['Time'] = pd.to_datetime(Taxi_April_2018['tpep_pickup_datetime']).dt.time
Taxi_April_2018 = Taxi_April_2018[pd.to_datetime(Taxi_April_2018['Date']).dt.month == 4]
Taxi_April_2018 = Taxi_April_2018[pd.to_datetime(Taxi_April_2018['Date']).dt.year == 2018]

Taxi_May_2018 = pd.read_parquet(Path_May_2018)
Taxi_May_2018['Date'] = pd.to_datetime(Taxi_May_2018['tpep_pickup_datetime']).dt.date
Taxi_May_2018['Time'] = pd.to_datetime(Taxi_May_2018['tpep_pickup_datetime']).dt.time
Taxi_May_2018 = Taxi_May_2018[pd.to_datetime(Taxi_May_2018['Date']).dt.month == 5]
Taxi_May_2018 = Taxi_May_2018[pd.to_datetime(Taxi_May_2018['Date']).dt.year == 2018]

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\Mathan Lokerse\\Documents\\GitHub\\MachineLearningMMS/yellow_tripdata_2015-03.parquet'

In [4]:
Taxi = pd.concat([Taxi_March_2015, Taxi_April_2015, Taxi_May_2015, Taxi_March_2016, Taxi_April_2016, Taxi_May_2016, Taxi_March_2017, Taxi_April_2017, Taxi_May_2017, Taxi_March_2018, Taxi_April_2018, Taxi_May_2018], axis=0)
Taxi.shape

NameError: name 'Taxi_March_2015' is not defined

In [5]:
Date_Counts = Taxi['Date'].value_counts().sort_index(ascending = True)

NameError: name 'Taxi' is not defined

In [6]:
Date_Counts

NameError: name 'Date_Counts' is not defined

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))
ax.plot(Date_Counts)

In [ ]:
#Date_Counts[0:91]= Date_Counts[0:91]/max(Date_Counts[0:91])
#Date_Counts[92:183]= Date_Counts[92:183]/max(Date_Counts[92:183])
#Date_Counts[184:275]= Date_Counts[184:275]/max(Date_Counts[184:275])
#Date_Counts[276:367]= Date_Counts[276:367]/max(Date_Counts[276:367])

In [ ]:
Date_Counts[0:92] = Date_Counts[0:92]/max(Date_Counts[0:92])
Date_Counts[92:184] = Date_Counts[92:184]/max(Date_Counts[92:184])
Date_Counts[184:276] = Date_Counts[184:276]/max(Date_Counts[184:276])
Date_Counts[276:368] = Date_Counts[276:368]/max(Date_Counts[276:368])
Date_Counts

In [ ]:
fig, ax = plt.subplots(figsize=(12,8))
ax.plot(Date_Counts)

In [ ]:
df = pd.DataFrame(Date_Counts)
df

In [7]:
Taxi_Drives = []
for i in range (Date_Counts.size):
    Taxi_Drives.append(Date_Counts[i])
Taxi_Drives = np.array(Taxi_Drives)
Taxi_Drives.size
Weather['Taxi Drives'] = Taxi_Drives.tolist()

NameError: name 'Date_Counts' is not defined

In [8]:
result = pd.concat([Weather, df.loc[Date]], axis=1, ignore_index = True)
result

NameError: name 'df' is not defined

In [ ]:
Weather

In [ ]:
Weather.to_csv('Weather_TaxiDrives.csv')